*{
   /* border: 1px solid red; */
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    font-family: Iosevka, sans-serif;
    color: #333;
    background-color: #f3f3f3;
}

.header1{
    background-color: #3c3836 ;
    color: bisque;
}

.header{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
}

.hero{
    padding: 100px;
    text-align: center;
    align-items: center;
    height: 50vh;
    background-image: url("assets/hero\ pic.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.65);
    background-blend-mode: overlay ;
}

.hero_header{
    font-size: 3rem;
    font-weight: 700;
    color: bisque;
}
.hero_description{
    font-size: 2rem;
    color: bisque;
    opacity: 0.7;
}

.terminal a {
    text-decoration: none;
    color: inherit;
}

.cron a{
    text-decoration: none;
    color: inherit;
}

.api a{
    text-decoration: none;
    color: inherit;
}

.readme a{
    text-decoration: none;
    color: inherit;
}

.faq a{
    text-decoration: none;
    color: inherit;
}
.about{
    padding: 200px;
    font-size: 2.5rem;
    background-color: rgb(241, 232, 220);
    text-transform: lowercase;
}

.menu{
    padding: 100px;
    background-color: #3c3836 ;
}

.menu_title{
    font-size: 2.3rem;
    text-align: center;
    color: bisque;
}

.menu_container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;
    align-content: center;
}

.menu_item{
    background-color: #f3f3f3;
    padding: 30px;
    width: 20%;
    height: 300px;
    border-radius: 4px;
}

.menu_item{
    background: none;
    padding: 0;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    height: 400px;
    border-radius: 5px;
}

.menu_card_img{
    width: 100%;
    height: 400px;
    min-height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.order{
    padding: 100px;
    text-align: center;
    color: bisque;
    background-color: rgb(241, 232, 220);
    background-image: url("assets/order.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.80);
    background-blend-mode: overlay ;
}

.order_title{
    font-size: 2.3rem;
    font-weight: 700;
}

.order_desc{
    font-size: 1.9rem;
    font-weight: 500;
    opacity: 0.8;
}

.textbox{
    text-align: center;
    padding: 50px;
    font-size: 1.5rem;
}

.signup{
    padding: 25px;
    background-color: rgb(241, 232, 220);
    align-content: center;
}

.signup_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup_box{
    width: 500px;
    border: 1px solid #949494;
    text-align: center;
    padding: 20px 30px;
}

.signup_button{
    padding: 12px 30px;
    background: none;
    margin: 20px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #3c3836;
}

.footer_container{
    padding: 10px;
    background-color: #3c3836;
}

.footer_text{
    text-align: center;
    color: bisque;
    font-size: 20px;
}